
@model IEnumerable<_2503.Models.CATEGORy>

@foreach (var item in Model)
{
    @*<div class="col-12 col-md-2">
            <div class="list-group">
                <a href="@Url.Action("SPTheoMH","Helmet",new { id=item.MaMH})" class="list-group-item text-center mt-3">
                    @item.TenMH
                </a>
            </div>
        </div>*@


    <a href="@Url.Action("Product_Categories","Home",new { id = item.ID_CAT})" 
       style="display:flex;padding-left:15px;text-decoration:none;" class="dropdown-item">
        @item.NAME
    </a>
}
